@media only screen and (max-width: 1050px) {
  #find-teacher-header {
    font-size: 2.5em;
    line-height: 45px;

    #find-teacher-first-title,
    #best-teacher-header {
      font-weight: 400;
    }
  }
}
