@media only screen and (max-width: 1050px) {
  #landing-page {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    
    #landing-page-center-part {
      flex-flow: row wrap;
      justify-content: center;
      width: 95%;
    }

    #landing-page-footer {
      flex-grow: 1;
    }
  }
}
