#welcome-message-container {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background: #fff;


  display: flex;
  justify-content: center;
  align-items: center;

  #yellow-water-drops {
    position: absolute;
  }

  #welcome-message-content {
    display: flex;

    #welcome-message-left-side {
      display: flex;

      #welcome-message-title {
        font-weight: 400;
        color: #200e64;
        font-size: 21px;
        line-height: 33.6px;
        margin-bottom: 0.7em;

        #student-highlight {
          font-family: "Poppins", sans-serif;
        }
      }

      #welcome-message-text {
        font-size: 14px;
        line-height: 22.4px;
        color: #343434;
      }
    }
  }
}

@import "./media-queries/desktop-screen.scss";
@import "./media-queries/mobile-screen.scss";
