@media only screen and (min-width: 1000px) {
  #header {
    padding: 0.5em 0em 0.5em 5em;
    #inner-container-header {
      width: 85%;
      #left-side-header {
        #logo-wrapper-header {
          #rectangle-circles-shape {
            margin-right: 1.5em;
          }
        }

        #my-classes {
          margin-left: 2em;
          font-size: 14px;
          color: #fff;
          letter-spacing: -0.02em;
        }
      }

      #right-side-header {
        #change-mode {
          font-family: "Open Sans", sans-serif;
          font-size: 11px;
          font-weight: 700;

          color: #fff;
          letter-spacing: -0.02em;

          background: rgba(32, 13, 99, 0.3);

          border-radius: 4px;
          padding: 0 1em;
        }

        #user-photo-wrapper {
          margin-left: 2em;
        }
      }
    }
  }
}
