@media only screen and (max-width: 1050px) {
  #landing-page-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 93%;
    align-self: flex-end;

    #hamburger-btn-header {
      display: flex;
      background-color: inherit;
      border: none;
      margin-right: 2em;
      cursor: pointer;
      padding: 1em 0;
    }
  }
}
