#footer {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  width: 100%;
  max-height: 60px;

  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}